body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.font-size {
    font-size: 50PX;
}

h3 {
    font-size: 25PX;
}

.peter-color {
    color: orange;
}

.hire-me-button {
    text-decoration: none;
    background: linear-gradient(45deg, orange, red);

    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

.flexible {
    display: flex;


}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;

}

.drem-big {
    width: 50%;
    padding-left: 5%;
}

.drem-big img {
    width: 100%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;

}

.side-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.padding-left {
    padding-right: 12%;
    text-align: justify;
}

.justify {
    text-align: justify;
}

.boxshado {
    box-shadow: 10px 10px 50px black;
    margin-left: 5%;
    margin-bottom: 5%;

    padding: 3%;
}

#right-margin {
    margin-right: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 204, 255));
    border-image-slice: 1;
}

.ex-font {
    font-size: 40PX;
}

h4 {
    text-align: center;
}

.left-banner {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}

#border-image {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(249, 163, 4), tomato);
    border-image-slice: 1;
}